* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 40px;
    background-color: #5d5d5d;
    font-family: sans-serif;
}

.wrapper {
    width: 640px;
    margin: 0 auto;
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
}

.top, .bottom {
    width: 100%;
    color: white;
    padding: 5px 0;
}

.wrapper-inner {
    display: flex;
}

.box-inner {
    width: 12.5%;
    text-align: center;
    font-weight: bold;
}

.box {
    width: 12.5%;
    height: 80px;
    background-color: #eeeed2;
}

.box:nth-child(16n+3), 
.box:nth-child(16n+5), 
.box:nth-child(16n+7), 
.box:nth-child(16n+9),
.box:nth-child(16n+10), 
.box:nth-child(16n+12), 
.box:nth-child(16n+14), 
.box:nth-child(16n+16) {
    background-color: #769656;
}