* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    padding: 32px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.input-group {
    flex: 1 1 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    margin: 10px;
    padding: 10px 20px;
    height: 40px;
    align-self: center;
    cursor: pointer;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 4px;
}